<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
    @font-face {
      font-family: 'Gatwick';
      src: url('/fonts/PPGatwick-GliderExtralight.woff2') format('woff2'),
           url('/fonts/PPGatwick-GliderExtralight.woff') format('woff');
      font-weight: normal; /* Adjust if you have specific weights */
      font-style: normal; /* Adjust if you have specific styles */
    }

    
  </style>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            vuejss: "#09ed46"
          },
          screens: {
            sm: '480px',
            md: '768px',
            lg: '976px',
            xl: '1440px',
       
           '900': {'max': '900px'},
            
          },
          width: {
      customw: 'clamp(300px, 45vw, 500px)', // Width for 45vw
    },
    height: {
      customh: 'clamp(250px, 30vw, 400px)', // Height for 30vw
    },
          backgroundImage: {
            mountain: "url('/images/mountain-landscape-silhouette-vector-Graphics-42717875-1.jpg')",
            library: "url('/images/library.jpeg')",
            comics: "url('/images/comics.jpg')",
            burntpaper: "url('/images/grunge-paper-background_1048-10849.jpg')",
          },
          spacing: {
            '1': '100px',
            '2': '12px',
            '3': '16px',
            '4': '24px',
            '5': '32px',
            '6': '48px',
          },
          opacity: {
        '85': '.85',
      },
          fontSize: {
      sm: '0.8rem',
      base: '1rem',
      xl: '1.25rem',
      '2xl': '1.563rem',
      '3xl': '1.953rem',
      '4xl': '2.441rem',
      '5xl': '3.052rem',
      TitleFont: '4rem', 
      TitleFonts: '3rem', 
    }, 
    fontFamily: {
          
          gatwick: ['Gatwick', 'sans-serif'],
          cormorant: ['"Cormorant Garamond"', 'serif'], // Add font here
          },
          
          textUnderlineOffset: {
        CustomUnderline: '10px',
      }
        },
      },
      plugins: [],
    };
  </script>
  <title>Permalist</title>
</head>

<body class="w-screen h-screen m-0 p-0 relative overflow-hidden">

    <!-- Full-screen background -->
    <div class="absolute top-0 left-0 w-full h-full bg-library bg-center bg-cover">
      <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>
    </div>
  
    <!-- Content layout -->
    <div class="flex w-full h-full relative z-10 flex-row 900:flex-col">
      <!-- Left Section -->
      <div class="w-full  h-full flex justify-center items-center">
        <div class="one flex flex-col justify-center items-center">
          <p class="text-[2.5vw] font-gatwick text-[#ffebad] font-bold text-center mb-6 900:text-[clamp(25px,3vw,3.5vw)] 900:mb-4">
            <span class="block">ENDLESS</span>
            <span class="block">ADVENTURE</span>
            <span class="block">AWAIT</span>
          </p>
          <div class="w-[41.67vw] h-[23.33vw] bg-comics bg-center bg-cover rounded-t-[100px] border-8 border-[#ffebad] 900:w-customw 900:h-customh 900:mb-4"></div>
  
        </div>
      </div>
    
      <!-- Right Section -->
      <div class="w-full 900:w-2/5 h-full bg-[#5b4e42] flex justify-center items-center 900:w-full 900:h-[100%] 900:rounded-t-[30px]" style="background-color: rgba(91, 78, 66, 0.85);">
        <div class="two flex flex-col justify-center items-center">
          <h1 class="text-[3.33vw] font-gatwick text-[#ffebad] font-bold 900:text-[5vw] cursor-pointer"><a href="/">TALESCAPE</a></h1>
          <h2 class="text-[1.30vw] font-gatwick text-[#ffebad] 900:text-[3vw]">UNLOCK A WORLD OF STORIES</h2>
          <div class="MyFonts text-[1.63vw] font-gatwick text-[#ffebad] font-bold text-center mt-6 leading-[10rem] 900:text-[3vw] 900:leading-[4rem]">
            <h3 class="hover:underline underline-offset-8 hover:text-[#aa9d6f] transition-all duration-200 cursor-pointer"><a href="/explore">EXPLORE BOOKS</a></h3>
            <h3 class="hover:underline underline-offset-8 hover:text-[#aa9d6f] transition-all duration-200 cursor-pointer"><a href="/search">BROWSE TITLE</a></h3>
            <h3 class="hover:underline underline-offset-8 hover:text-[#aa9d6f] transition-all duration-200 cursor-pointer">ABOUT US</h3>
          </div>
        </div>
      </div>
    </div>

<%- include('partials/footer.ejs'); -%>