<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap');
        </style>
        <script>
          tailwind.config = {
            theme: {
              extend: {
                colors: {
                  vuejss: "#09ed46"
                },
                screens: {
                  sm: '480px',
                  md: '768px',
                  lg: '976px',
                  xl: '1440px',
                },
                backgroundImage: {
                  mountain: "url('/images/mountain-landscape-silhouette-vector-Graphics-42717875-1.jpg')",
                  library: "url('/images/library.jpeg')"
                },
                spacing: {
                  '1': '100px',
                  '2': '12px',
                  '3': '16px',
                  '4': '24px',
                  '5': '32px',
                  '6': '48px',
                },
                fontSize: {
                  sm: '0.8rem',
                  base: '1rem',
                  xl: '1.25rem',
                  '2xl': '1.563rem',
                  '3xl': '1.953rem',
                  '4xl': '2.441rem',
                  '5xl': '3.052rem',
                  TitleFont: '5rem', 
                }, 
                fontFamily: {
                  cormorant: ['"Cormorant Garamond"', 'serif'], // Add font here
                },
                textUnderlineOffset: {
                  CustomUnderline: '10px',
                }
              },
            },
            plugins: [],
          };
        </script>
        <title>Permalist</title>
    </head>
<body>
    <div class="flex w-full h-screen">
        <div class="w-3/5 bg-library bg-right-top bg-no-repeat bg-cover">
            white
        </div>
        <div class="w-2/5 bg-red-600">
            red
        </div>
    </div>
</body>
</html>
